body {
    font-family: tahoma, sans-serif;
}

#title {
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

#container {
    height: 100vh;
    padding: 1.75rem;
    background-color: rgb(5, 199, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#success {
    background-color: rgb(84, 221, 84);
    padding: 4rem;
    border: 10px solid rgb(182, 250, 182);
    text-align: center;
    filter: blur(8px);
    font-size: 3rem;
}